*{box-sizing: border-box;
    margin: 0px;
    text-decoration: none;
}



body{
   
    background-image: url(coffee-beans-cup-table.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    filter:saturate(150%) ;
    
   
}





header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;                                                                           
    height: 60px;
    /* background-color: rgb(21, 18, 18); */
    background-color: #1d1a18;
   
    

}
.navbar a{
    color: white ;
    margin: 25px;
    font-size: 20;
    font-weight: bold;

}
.navbar :hover{
    width: 150px;
    height: 150px;
   
    background-color: goldenrod;
    border-radius: 3px;
    border-style: double;
    border-color: white;
    transition: 1s linear;
    padding: 5px;
}
.icons a{
    color: white;
    margin: 10px;
    font-size: 20;
    font-weight: bold;
    margin-right: 15px;


}


.img{
    width: 45px;
    height: 45px;
    border: 4px;
    margin-bottom: 5px;
    border-radius: 120px;
    border-style: double;
    border-color: white;
    margin-left: 25px;
    margin-top: 10px;

}
 h1{
    font-size: 70px;
    color: white;
    display: flex;
    justify-content: end;
    text-align: center;
    margin-top: 90px;
   margin-right: 60px;
}

 h3{
    color: white;
    display: flex;
    justify-content: end;
    text-align: center;
   margin-right: 20px;
   font-size: 25px;
  
}
Button{
color: rgb(48, 36, 36);
background-color: goldenrod;
height: 30px;
border-style:double;
border-color: white;
border-radius:3px;
text-align: center;
margin-left: 800px;
margin-top: 10px;
}